\begin{frame}
%$\vphantom{\text{}}$
    \frametitle{Table of contents}
    \begin{columns}
        \begin{column}{.45\textwidth}
            \tableofcontents
        \end{column}
        \begin{column}{.55\textwidth}
            %\includegraphics[width=\textwidth]{}
        \end{column}
    \end{columns}
\end{frame}
