\begin{frame}%[squeeze,fragile]
    \frametitle{{{ slide_title }}}
    \begin{columns}
       \begin{column}{.5\textwidth}
          %\includegraphics[width=\textwidth]{{{ slide_rel_path }}}
       \end{column}
       \begin{column}{.5\textwidth}
          %\includegraphics[width=\textwidth]{{{ slide_rel_path }}}
       \end{column}
   \end{columns}
\end{frame}
