\begin{frame}[plain]
    \vspace{-7mm}
    \begin{columns}
        \begin{column}{.5\textwidth}
            \begin{flushleft}
                %\includegraphics[height=1cm]{logo}
            \end{flushleft}
        \end{column}
        \begin{column}{.5\textwidth}
            \begin{flushright}
                %\includegraphics[height=1cm]{logo}
            \end{flushright}
        \end{column}
    \end{columns}
    \titlepage
    \begin{columns}
        \begin{column}{.5\textwidth}
            \begin{flushleft}
                %\includegraphics[height=1cm]{logo}
            \end{flushleft}
        \end{column}
        \begin{column}{.5\textwidth}
            \begin{flushright}
                %\includegraphics[height=1cm]{logo}
            \end{flushright}
        \end{column}
    \end{columns}
\end{frame}
